<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a href="#maincontent" class="skip-link">To Content</a>
    <nav>
      <div class="logo">Restaurant</div>
      <ul class="nav_list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://github.com/ndaday">About Us</a></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

    <div class="hero">
      <div class="hero_inner">
        <h1 class="hero_title">what do you want to eat today?</h1>
        <p class="hero_tagline">feel all the flavors from all over the country</p>
      </div>
    </div>

    <main id="maincontent">
      <section class="content">
        <div class="latest">
          <h1 class="latest_label">Explore Restaurant</h1>
          <div id="post"></div>
        </div>
      </section>
    </main>
    <footer>
      <h4>Copyright &copy; 2021 - Restaurant Apps</h4>
    </footer>
  </body>
</html>
