@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav_list {
    position: absolute;
    right: 0;
    height: 95vh;
    top: 6vh;
    background-color: #0082e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .burger {
    display: block;
  }
  .nav-active {
    transform: translateX(0%);
  }

  #post {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
  .nav_list {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 6vh;
    background-color: #0082e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .burger {
    display: block;
  }
  .nav-active {
    transform: translateX(0%);
  }

  #post {
    grid-template-columns: 1fr;
  }

  .post-item_thumb {
    height: 200px;
  }
}
